@import "mixins";

// Шрифт по умолчанию
$mainFontFamily: Roboto, sans-serif;
$secondaryFontFamily: sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Цвета
$mainFontColor: #aaa; // Цвет шрифта по умолчанию
$mainBGColor: #0c0b08; // Основной фоновый цвет

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1300;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
